body {
    background-color: #d5ebe5;
    font-family: Cambria
}
#galle{
min-width:100%;
height:500px;

}d
.heading{
margin-top:20px;
margin-left:20px;
padding-top:0px;
}
#headi{
margin-top:100px;

}

.container{
margin-top:50px;
}

#actress{
min-width:100%;
height:500px;
}
.card-img-top1{
height:200px;
}

#mod{
width:100%
height:300px;
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*background-color:orangered*/
    margin-bottom:100px;


}

.container{
margin-top:50px;
}

